@using Microsoft.AspNetCore.Identity;
@using SelenicSparkApp.Data;

@inject SignInManager<IdentityUser> SignInMgr
@inject RoleManager<IdentityRole> RoleMgr

@model SelenicSparkApp.Views.Admin.RolesModel
@{
	ViewData["Title"] = "Manage roles";
}

<link rel="stylesheet" href="~/css/datatables.min.css" />
<style>
	.page-container {
		display: flex;
		justify-content: space-between;
	}
	.data-table-container {
		flex-grow: 1;
		padding: 10px;
	}
	.forms-container {
		flex-basis: 40%;
		padding: 10px;
	}
	table {
		border: 1px solid;
		border-collapse: collapse;
		grid-area: tbl;
	}
	table th {
		border: 1px solid;
		background: rgb(240,240,240);
		text-align: center !important;
	}

	table td {
		border: 1px solid;
		text-align: center;
		padding: 3px;
	}
</style>
 
@if (SignInMgr.IsSignedIn(User))
{
	@if (User.IsInRole("Admin")) // Triple-checking never hurt anyone
	{
		<div>
			<h1 style="text-align:center;">
				Hello, @User.Identity?.Name
			</h1>
			<hr />
			<div class="page-container">
				<div class="data-table-container">
					<table id="tableWithSort" class="display">
						<thead>
							<tr>
								<th>ID</th>
								<th>Role Name</th>
								<th>&nbsp;</th>
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var role in RoleMgr.Roles)
							{
								<tr>
									<td style="font-size:12px; width:10%;">@role.Id</td>
									<td>@role.Name</td>
									<td style="width: 5%;">
										<a asp-action="EditRole" asp-route-id="@role.Id">M</a>
									</td>
									<td style="width:5%;">
										<a asp-action="DeleteRole" asp-route-id="@role.Id">D</a>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
				<div class="forms-container">
					<h5>Create New Role</h5>
					<form method="post" asp-action="CreateRole" class="horizontal-form">
						<input type="text" asp-for="CreateRoleName" placeholder="New Role Name" class="form-control" autocomplete="off">
						<button type="submit" class="btn btn-primary">Create</button>
					</form>
				</div>
			</div>
		</div>
	}
}

@section scripts {
	<script src="~/js/datatables.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#tableWithSort').DataTable();
		});
	</script>
}
