@using Microsoft.AspNetCore.Identity;
@using SelenicSparkApp.Data;

@inject SignInManager<IdentityUser> SignInMgr
@inject RoleManager<IdentityRole> RoleMgr

@model SelenicSparkApp.Views.Admin.RolesModel
@{
	ViewData["Title"] = "Manage roles";
}

<link rel="stylesheet" href="~/css/datatables.min.css" />
<link rel="stylesheet" href="~/css/Roles.css" />
 
@if (SignInMgr.IsSignedIn(User))
{
	@if (User.IsInRole("Admin")) // Triple-checking never hurt anyone
	{
		<div>
			<h1 style="text-align:center;">
				Hello, @User.Identity?.Name
			</h1>
			<hr />
			<div class="page-container">
				<div class="data-table-container">
					<table id="tableWithSort" class="display">
						<thead>
							<tr>
								<th>ID</th>
								<th>Role Name</th>
								<th>&nbsp;</th> @* Required by DataTables script *@
								<th>&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var role in RoleMgr.Roles)
							{
								<tr>
									<td style="font-size:12px; width:10%;">@role.Id</td>
									<td>@role.Name</td>
									<td style="width: 5%;">
										<a asp-action="EditRole" asp-route-id="@role.Id">M</a>
									</td>
									<td style="width:5%;">
										<a asp-action="DeleteRole" asp-route-id="@role.Id">D</a>
									</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
				<div class="forms-container">
					<h5>Create New Role</h5>
					<form method="post" asp-action="CreateRole" class="horizontal-form">
						<input type="text" asp-for="CreateRoleName" placeholder="New Role Name" class="form-control" autocomplete="off">
						<button type="submit" class="btn btn-primary">Create</button>
					</form>
				</div>
			</div>
		</div>
		@section Scripts {
			<script src="~/js/datatables.min.js"></script>
			<script>
				$(document).ready(function () {
					$('#tableWithSort').DataTable();
				});
			</script>
		}
	}
}
