@model SelenicSparkApp.Models.Post

@{
    ViewData["Title"] = "Delete";
}

<link rel="stylesheet" href="~/css/PostDelete.css" />

<h3>Are you sure you want to delete this?</h3>
<div>
    <div>
        <h1>@Model.Title</h1>
        By <i>@Model.Author</i> at @Model.CreatedDate.ToString("HH:mm dd.MM.yyyy")
        <hr />
        @Html.Raw(Model.Text)
    </div>
    <hr />
    <p style="color: darkred;">
        Click "Delete" button to confirm. Note that <strong>this action cannot be undone</strong>.
    </p>
    <div class="group-line">
        <a asp-action="Edit" asp-route-id="@Model.PostId" class="btn btn-primary btn-edit add-margin">Edit post instead</a>      
        @if (User.IsInRole("Admin") || User.IsInRole("Moderator"))
        {
            <form asp-action="Delete">
                <input type="hidden" asp-for="PostId" />
                <input type="hidden" name="GiveWarning" value="true" />
                <input type="submit" value="Delete & Warn user" class="btn btn-danger add-margin" />
            </form>
        }
        else
        {
            <form asp-action="Delete">
                <input type="hidden" asp-for="PostId" />
                <input type="submit" value="Delete" class="btn btn-danger add-margin" />
            </form>
        }
        <a asp-action="Details" asp-route-id="@Model.PostId" class="btn btn-primary add-margin">Cancel</a>
    </div>
</div>
