@using Microsoft.AspNetCore.Identity
@using System.Text.RegularExpressions;

@inject SignInManager<IdentityUser> SignInManager
@model IEnumerable<SelenicSparkApp.Models.Post>
@{
    ViewData["Title"] = "All posts";
}

<link rel="stylesheet" href="~/css/PostIndex.css" />

@if (SignInManager.IsSignedIn(User))
{
    <p style="text-align:center">
        <a asp-action="Create" class="btn btn-primary w-25">
            Post something...
        </a>
    </p>
}
@if (Model?.Count() > 0)
{
    <div>
        @foreach (var post in Model)
        {
            <div class="post-container">
                <div class="padding-all-10">
                    <div>
                        <a asp-action="Details" asp-route-id="@post.PostId">@post.Title</a>
                        <br>
                        @if (!string.IsNullOrWhiteSpace(post.Text))
                        {
                            <p class="post-text">@post.Text</p>
                        }
                    </div>
                    <div class="sm-text">
                        <i>@post.Author at @post.CreatedDate.ToString("HH:mm dd.MM.yyyy")</i>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <h4 style="text-align:center">
        No posts available!
    </h4>
}

@if (ViewBag.Page != null)
{
    <div class="centered margin-top-20">
        @if (ViewBag.Page > 2)
        {
            <a asp-controller="Posts" asp-action="Index" asp-route-page="1" class="btn btn-primary route-btn margin-inline-1">
                &lt;&lt;
            </a>
        }
        @if (ViewBag.Page > 1)
        {
            <a asp-controller="Posts" asp-action="Index" asp-route-page="@(ViewBag.Page - 1)" class="btn btn-primary route-btn margin-inline-1">
                &lt;
            </a>
        }
        <input type="text" value="@ViewBag.Page" class="route-page margin-inline-1" disabled />
        @if (ViewBag.Page + 1 <= ViewBag.Pages)
        {
            <a asp-controller="Posts" asp-action="Index" asp-route-page="@(ViewBag.Page + 1)" class="btn btn-primary route-btn margin-inline-1">
                &gt;
            </a>
        }
        @if (ViewBag.Page + 2 <= ViewBag.Pages)
        {
            <a asp-controller="Posts" asp-action="Index" asp-route-page="@ViewBag.Pages" class="btn btn-primary route-btn margin-inline-1">
                &gt;&gt;
            </a>
        }
    </div>
}
