@model IEnumerable<SelenicSparkApp.Models.Post>

@{
    ViewData["Title"] = "Search";
}

<style>
    .form-control {
        display: inline;
        width: auto;
    }
    .btn-primary {
        border-radius: 0.25rem;
        block-size: 2.4rem;
    }
</style>

<h3>Search posts</h3>
<hr />
<div class="row">
    <div class="form-inline">
        <form asp-action="SearchResults">
            <div class="form-group">
                <label for="SearchPhrase" class="control-label"></label>
                <input name="SearchPhrase" class="form-control" size="48" maxlength="48" value="@ViewBag.SearchPhrase" />
                
                <input type="submit" value="Find!" class="btn-primary" />
                <br />

                <input name="Filter" type="radio" id="titlesChoice" value="Titles" @(ViewBag.Filter == "Titles" ? "checked" : "") />
                <label for="titlesChoice">Titles</label>

                <input name="Filter" type="radio" id="textChoice" value="Text" @(ViewBag.Filter == "Text" ? "checked" : "") />
                <label for="textChoice">Text</label>

                <input name="Filter" type="radio" id="authorChoice" value="Author" @(ViewBag.Filter == "Author" ? "checked" : "") />
                <label for="authorChoice">Author</label>

                <input name="Filter" type="radio" id="everythingChoice" value="Everything" @(ViewBag.Filter == "Everything" ? "checked" : "") />
                <label for="everythingChoice">Everything</label>
            </div>
        </form>
    </div>
</div>
<hr />
@if (Model?.Count() > 0) @* Show all results if results.Count > 0 *@
{
    @* Temporal solution. Post feed must be scrollable and not in form of Table. *@
    <table class="table">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Author
                </th>
                <th>
                    Text
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.PostId">@item.Title</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Author)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Text.Substring(0, 50))
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else @if (Model != null) @* Show "not found" if search was called, but no results found *@
{
    <h4>Nope, nothing found.</h4>
}
@* "else": Show nothing when search wasn't called and page was just initialized *@
