@model IEnumerable<SelenicSparkApp.Models.Post>

@{
    ViewData["Title"] = "Search";
}

<link rel="stylesheet" href="~/css/PostSearch.css" />

<h3>Search posts</h3>
<hr />
<div class="row">
    <div class="form-inline">
        <form asp-action="SearchResults">
            <div class="form-group">               
                <div class="search-form">
                    <input name="SearchPhrase" class="form-control searchbox-margin" size="64" maxlength="64" value="@ViewBag.SearchPhrase" placeholder="Enter keywords..." />
                    <input type="submit" value="Find!" class="btn btn-primary searchbox-margin" />
                </div>
                <br />
                <div class="group-line">
                    <div class="radiobutton">
                        <input name="Filter" type="radio" id="everythingChoice" value="Everything" @(ViewBag.Filter == "Everything" ? "checked" : "") />
                        <label for="everythingChoice">Everything</label>
                    </div>
                    <div class="radiobutton">
                        <input name="Filter" type="radio" id="titlesChoice" value="Titles" @(ViewBag.Filter == "Titles" ? "checked" : "") />
                        <label for="titlesChoice">Titles</label>
                    </div>
                    <div class="radiobutton">
                        <input name="Filter" type="radio" id="textChoice" value="Text" @(ViewBag.Filter == "Text" ? "checked" : "") />
                        <label for="textChoice">Text</label>
                    </div>
                    <div class="radiobutton">
                        <input name="Filter" type="radio" id="authorChoice" value="Author" @(ViewBag.Filter == "Author" ? "checked" : "") />
                        <label for="authorChoice">Author</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<hr />
@if (Model?.Count() > 0) @* Show all results if results.Count > 0 *@
{
    <div>
        @foreach (var post in Model)
        {
            <div class="post-container">
                <div class="padding-all-10">
                    <div>
                        <a asp-action="Details" asp-route-id="@post.PostId">@post.Title</a>
                        <br>
                        @if (!string.IsNullOrWhiteSpace(post.Text))
                        {
                            <p class="post-text">@post.Text</p>
                        }
                    </div>
                    <div class="sm-text">
                        <i>@post.Author at @post.CreatedDate.ToString("HH:mm dd.MM.yyyy")</i>
                    </div>
                </div>
            </div>
        }
    </div>
}
else @if (Model != null) @* Show "not found" if search was called, but no results found *@
{
    <h4>Nope, nothing found.</h4>
}
@* "else": Show nothing when search wasn't called and page was just initialized *@
